* {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.logo {
    float: left;
    justify-content: space-around;
    margin-left: 10%;
}

ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    float: right;
}

li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color: black;
}

a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    background-image: url(BG.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.profile {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 6%;
    align-items: center;
}

.profile .sect-2 {
    width: 536px;
    height: 636px;
    border-radius: 25px;
}

.sect-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 636px;
}

.cards {
    display: flex;
    width: 100%;
}

.card-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDD8FF80;
    
}

.card-1 h3{
    margin-bottom: 0;
}


.sect-2 img {
    width: 536px;
    height: 636px;

}


.about {
    position: relative;
    height: 300px;
    width: 100%;
}


.about-me{
    position: absolute;
    /* height: 550px; */
    /* bottom: -20px; */
    width: 85%;
    left: 7.5%;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.1);
    opacity: 0px;
    background-color: #fff;    
    border-radius: 20px;
}

.pic{
    position: relative; /* Enable positioning context */
    display: inline-block;
}

.about-me .pic img{
    /* padding-top: 30%;  */
    width: 100%;
    height: 100%;
    /* width: 424px;
    height: 468px; */
    border-radius: 25px;
    align-items: center;
}

.about-me .pic {
    /* width: 300px;
    height: 300px; */

    width: 424px;
    height: 468px;
}

.details{
    /* height: 100px; */
   
    height: 348px;
    width: 450px;
    align-items: center;
    /* float: right; */
    padding-top: 10%;
   
}

.details h2{
/* font-family: Work Sans; */
/* font-size: 38px; */
font-weight: 600;
/* line-height: 50px; */
/* text-align: left; */
}

.works {
    background-color: rgba(240, 241, 243, 1);
    width: 100%;
    height: 70vh;
}

.buttons-about{
width: 338px;
height:48px;
}

.btn1{
font-weight: 600;
color: white;
line-height: 24px;
background-color: rgba(165, 61, 255, 1);
border: 1px solid transparent;
padding: 12px 24px 12px 24px; 
border-radius: 4px;   
width: 132px;
height: 48px;  
text-decoration: none;                         
}

.btn2{
width:  190px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 4px;
border: 1px solid rgba(165, 61, 255, 1);
background-color: transparent;
color: rgba(165, 61, 255, 1);
text-decoration: none;
}

.social{
    width: 200px;
    height: 50px;
    left: 100px;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
    position: absolute; /* Position it relative to the container */
    top: 430px;
}

.Work-process{
    display: flex;
    justify-content: space-around;
    height: 636px;
    align-items: center;
    background-color: rgba(240, 241, 243, 1);
    width: 100%;
}

.notes{
    width: 32%;
    align-items: center;
}


.card-4-1{
    width: 200px;
    height: 200px;
    /* border: solid black; */
    border-radius: 12px;
    padding: 32px;
    background-color: #fff;
    box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.1);
    ;
}
.icon{
    width: 72px;
    height: 72px;
}

.text{
    text-align: center;
}

.portfolio{
    align-items: center;
    margin: auto;
    justify-content: center;
}

.card-5{
    /* height: 636px; */
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-5-1{
    /* width: 32%;
    height: 200px; */

    width: 375px;
    height: 450px;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    text-align: start;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);

}

.card-5-1 img{
    width: 100%;
    height: 200px;
}

.card-5-1 .case{
        width:  190px;
        height: 48px;
        padding: 12px 24px 12px 24px;
        border-radius: 4px;
        border: 1px solid rgba(165, 61, 255, 1);
        background-color: transparent;
        color: rgba(165, 61, 255, 1);
        text-decoration: none;
        font-weight: 600px;
        font-size: 16px;
}

.desc{
    padding-left: 20px;
}

.btn-project{
  text-align: center;
  padding: 30px 24px 40px 24px;
}

.idea{
    text-align: center;
    background-color: rgba(19, 34, 56, 1);
    padding-top: 50px;
    height: 300px;
}

.Blog{
    align-items: center;
    background-image: url(BG.png);
}
.blog-text{
    text-align: center;
}

.card-6{
    /* height: 636px; */
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-6-1{
    /* width: 32%;
    height: 200px; */

    width: 24%;
    height: 325px;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    text-align: start;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);

}

.card-6-1 img{
    width: 100%;
    height: 200px;
}

